Load Pandas library

In [120]:
import pandas as pd
import datetime

Load the csv file

In [121]:
df= pd.read_csv("data4preprocessing.csv")

View first five rows of the data frame

In [122]:
df.head()

           Datetime  AEP_MW
0  2004/12/31 01:00   13478
1  2004/12/31 02:00   12865
2  2004/12/31 03:00   12577
3  2004/12/31 04:00   12517
4  2004/12/31 05:00   12670

View the classes of the dataframe columns

In [123]:
not_clean_df=df
df=df.sort_values('Datetime')
df.head()

              Datetime  AEP_MW
2019  2004/10/01 01:00   12379
2020  2004/10/01 02:00   11935
2021  2004/10/01 03:00   11692
2022  2004/10/01 04:00   11597
2023  2004/10/01 05:00   11681

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97862 entries, 2019 to 89693
Data columns (total 2 columns):
Datetime    97862 non-null object
AEP_MW      97862 non-null int64
dtypes: int64(1), object(1)
memory usage: 2.2+ MB

View the summary statistics

In [125]:
df.describe()

             AEP_MW
count  97862.000000
mean   15652.187550
std     2588.592984
min     9662.000000
25%    13785.000000
50%    15471.000000
75%    17342.000000
max    25695.000000

Extracting the components of a date and changing its format

In [126]:
y=df.loc[1,"Datetime"]
print(y)
z=datetime.datetime.strptime(df.loc[1,"Datetime"],"%Y/%m/%d %H:%M")
z

2004/12/31 02:00

datetime.datetime(2004, 12, 31, 2, 0)

Changing the format of a date

In [127]:
def change_date(x):
    x=datetime.datetime.strptime(x,"%Y/%m/%d %H:%M")
    return(x)
y=change_date(y)
print(y)

2004-12-31 02:00:00

In [128]:
xyz=pd.Series.apply(df["Datetime"],change_date)

Changing the format of all the enteries of the Datetime column

In [129]:
df["Datetime"]=xyz
df.head()

                Datetime  AEP_MW
2019 2004-10-01 01:00:00   12379
2020 2004-10-01 02:00:00   11935
2021 2004-10-01 03:00:00   11692
2022 2004-10-01 04:00:00   11597
2023 2004-10-01 05:00:00   11681

Difference in seconds between any time

In [130]:
newdf = df.set_index('Datetime')
newdf.head()
df2=pd.date_range(start=newdf.index.min(), end=newdf.index.max(),freq="H")
df1=pd.Series(newdf["AEP_MW"], index=df["Datetime"])
df2 = pd.Series(0,index=df2)
set1=df1.index
set2=df2.index

In [131]:
df2[set1]=df2[set1]+df1[set1]

In [132]:
df2

2004-10-01 01:00:00    12379
2004-10-01 02:00:00    11935
2004-10-01 03:00:00    11692
2004-10-01 04:00:00    11597
2004-10-01 05:00:00    11681
                       ...
2015-12-31 20:00:00    15030
2015-12-31 21:00:00    14642
2015-12-31 22:00:00    14212
2015-12-31 23:00:00    13843
2016-01-01 00:00:00    13487
Freq: H, Length: 98616, dtype: int64

In [133]:
d = {'Datetime': pd.Series(set2), 'AEP_MW': df2[set2].values}
final_data=pd.DataFrame(data=d)

In [134]:
final_data.head()

             Datetime  AEP_MW
0 2004-10-01 01:00:00   12379
1 2004-10-01 02:00:00   11935
2 2004-10-01 03:00:00   11692
3 2004-10-01 04:00:00   11597
4 2004-10-01 05:00:00   11681

In [135]:
not_clean_df.head()

           Datetime  AEP_MW
0  2004/12/31 01:00   13478
1  2004/12/31 02:00   12865
2  2004/12/31 03:00   12577
3  2004/12/31 04:00   12517
4  2004/12/31 05:00   12670